@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLT-Roman.eot');
    src: local('Avenir LT 55 Roman'), local('AvenirLT-Roman'),
        url('../fonts/AvenirLT-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLT-Roman.woff') format('woff'),
        url('../fonts/AvenirLT-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Light';
    src: url('../fonts/AvenirLT-MediumOblique.eot');
    src: local('Avenir LT 65 Medium Oblique'), local('AvenirLT-MediumOblique'),
        url('../fonts/AvenirLT-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLT-MediumOblique.woff') format('woff'),
        url('../fonts/AvenirLT-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLT-Heavy.eot');
    src: local('Avenir LT 85 Heavy'), local('AvenirLT-Heavy'),
        url('../fonts/AvenirLT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLT-Heavy.woff') format('woff'),
        url('../fonts/AvenirLT-Heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Light';
    src: url('../fonts/AvenirLT-Black.eot');
    src: local('Avenir LT 95 Black'), local('AvenirLT-Black'),
        url('../fonts/AvenirLT-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLT-Black.woff') format('woff'),
        url('../fonts/AvenirLT-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Light Oblique';
    src: url('../fonts/AvenirLT-LightOblique.eot');
    src: local('Avenir LT 35 Light Oblique'), local('AvenirLT-LightOblique'),
        url('../fonts/AvenirLT-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLT-LightOblique.woff') format('woff'),
        url('../fonts/AvenirLT-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Light Oblique';
    src: url('../fonts/AvenirLT-BlackOblique.eot');
    src: local('Avenir LT 95 Black Oblique'), local('AvenirLT-BlackOblique'),
        url('../fonts/AvenirLT-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLT-BlackOblique.woff') format('woff'),
        url('../fonts/AvenirLT-BlackOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLT-HeavyOblique.eot');
    src: local('Avenir LT 86 Heavy Oblique'), local('AvenirLT-HeavyOblique'),
        url('../fonts/AvenirLT-HeavyOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLT-HeavyOblique.woff') format('woff'),
        url('../fonts/AvenirLT-HeavyOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Light';
    src: url('../fonts/AvenirLT-Medium.eot');
    src: local('Avenir LT 65 Medium'), local('AvenirLT-Medium'),
        url('../fonts/AvenirLT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLT-Medium.woff') format('woff'),
        url('../fonts/AvenirLT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Light';
    src: url('../fonts/AvenirLT-Light.eot');
    src: local('Avenir LT 35 Light'), local('AvenirLT-Light'),
        url('../fonts/AvenirLT-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLT-Light.woff') format('woff'),
        url('../fonts/AvenirLT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Book';
    src: url('../fonts/AvenirLT-Book.eot');
    src: local('Avenir LT 45 Book'), local('AvenirLT-Book'),
        url('../fonts/AvenirLT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLT-Book.woff') format('woff'),
        url('../fonts/AvenirLT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLT-Oblique.eot');
    src: local('Avenir LT 55 Oblique'), local('AvenirLT-Oblique'),
        url('../fonts/AvenirLT-Oblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLT-Oblique.woff') format('woff'),
        url('../fonts/AvenirLT-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Book Oblique';
    src: url('../fonts/AvenirLT-BookOblique.eot');
    src: local('Avenir LT 45 Book Oblique'), local('AvenirLT-BookOblique'),
        url('../fonts/AvenirLT-BookOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLT-BookOblique.woff') format('woff'),
        url('../fonts/AvenirLT-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

