@import "variables";
@import "avenir";
@import "avenir-next";

@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/_mixins";
@import "../../../node_modules/bootstrap/scss/_root";
@import "../../../node_modules/bootstrap/scss/_reboot";
@import "../../../node_modules/bootstrap/scss/_type";
@import "../../../node_modules/bootstrap/scss/_images";
@import "../../../node_modules/bootstrap/scss/_code";
@import "../../../node_modules/bootstrap/scss/_grid";
@import "../../../node_modules/bootstrap/scss/_tables";
@import "../../../node_modules/bootstrap/scss/_forms";
@import "../../../node_modules/bootstrap/scss/_buttons";
@import "../../../node_modules/bootstrap/scss/_transitions";
@import "../../../node_modules/bootstrap/scss/_dropdown";
@import "../../../node_modules/bootstrap/scss/_button-group";
@import "../../../node_modules/bootstrap/scss/_input-group";
@import "../../../node_modules/bootstrap/scss/_custom-forms";
@import "../../../node_modules/bootstrap/scss/_nav";
@import "../../../node_modules/bootstrap/scss/_navbar";
@import "../../../node_modules/bootstrap/scss/_card";
@import "../../../node_modules/bootstrap/scss/_breadcrumb";
@import "../../../node_modules/bootstrap/scss/_pagination";
@import "../../../node_modules/bootstrap/scss/_badge";
@import "../../../node_modules/bootstrap/scss/_jumbotron";
@import "../../../node_modules/bootstrap/scss/_alert";
@import "../../../node_modules/bootstrap/scss/_progress";
@import "../../../node_modules/bootstrap/scss/_media";
@import "../../../node_modules/bootstrap/scss/_list-group";
@import "../../../node_modules/bootstrap/scss/_close";
@import "../../../node_modules/bootstrap/scss/_toasts";
@import "../../../node_modules/bootstrap/scss/_modal";
@import "../../../node_modules/bootstrap/scss/_tooltip";
@import "../../../node_modules/bootstrap/scss/_popover";
@import "../../../node_modules/bootstrap/scss/_carousel";
@import "../../../node_modules/bootstrap/scss/_spinners";
@import "../../../node_modules/bootstrap/scss/_utilities";
@import "../../../node_modules/bootstrap/scss/_print";

body,
html {
	height: 100%;
}

body {
  font-family: "Avenir Next Cyr";
  font-style: normal;
  line-height: normal;
  font-size: 16px;
}

nav {
  height: 80px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.22);
  font-size: 20px;

  .brand {
    font-family: "Avenir LT 65";
    color: $black;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    
    &:hover {
      text-decoration: none;
    }
  }
}

h1.title {
  font-weight: 900;
  font-family: "Avenir LT 55 Roman"; 

  @include media-breakpoint-up(md) { 
    font-size: 40px;
    line-height: 1.75;
    text-align: center;
  }
  @include media-breakpoint-down(sm) { 
    font-size: 32px;
    line-height: 1.06;
    padding-left: 17px;
  }
}

ul {
  padding: 0;

  li {
    list-style: none;
    line-height: 32px;

    span {
      margin-right: 15px;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.icon-block {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.store-link {
  @include media-breakpoint-up(lg) { 
    padding-left: 33px;
    padding-right: 33px;
  }
  @include media-breakpoint-down(md) { 
    padding-left: 5px;
    padding-right: 5px;
  }
}

.clarity {
  opacity:0.7;
  filter:alpha(opacity=70);   
  cursor: pointer;
  transition: all 0.4s; 

  &:hover {
    transition: all 0.4s; 
    opacity:1;
    filter:alpha(opacity=100);  
    transform: scale(1.05);
  }
}

.durak-area, .joker-area {
  .store-links {
    margin-top: 50px;
  }
}
.durak-area {
  .outer-container {
    background: rgba(255,247,234,1);
    background: linear-gradient(to bottom, rgba(255,247,234,1) 0%, rgba(255,224,171,1) 39%, rgba(254,221,164,1) 55%, rgba(247,190,97,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff7ea', endColorstr='#f7be61', GradientType=0 );
    overflow: hidden;

    .container {
      margin-top: 40px;
      margin-bottom: 55px;
    }

    .icon-block {
      @include media-breakpoint-up(md) { 
        width: 95px;
        height: 95px;
        background-image: url(../img/durak.png)
      }
      @include media-breakpoint-down(sm) { 
        width: 72px;
        height: 72px;
        background-image: url(../img/durak-sm.png)
      }
    }

    .screens {
      @include media-breakpoint-down(sm) { 
        margin-top: 40px;
      }  
  
      @include media-breakpoint-up(md) { 
        margin-top: 35px;
      }

      > div {
        padding-left: 22px;
        padding-right: 22px;
      }
    }

    .desc {
      margin-top: 50px;
    }

    .screen {
      position: relative;
      top: 0;
		  left: 0;
      background-image: url(../img/back.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: center;
      border-radius: 20px;

      .mockup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);    

        @include media-breakpoint-down(lg) { 
            width: 91%;
            height: 106%;
        }

        @include media-breakpoint-up(xl) { 
          width: 96%;
          height: 106%;
        }
      }

      .img-rounded {
        border-radius: 20px;
      }
    }
  } 
}

.joker-area {
  .outer-container {
    margin-top: 32px;
    margin-bottom: 32px;
    background: rgba(88,210,129,1);
    background: linear-gradient(to bottom, rgba(88,210,129,1) 0%, rgba(150,201,133,1) 62%, rgba(130,219,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58d281', endColorstr='#82db93', GradientType=0 );
    overflow: hidden;
  }

  .container {
    margin-top: 40px;
    margin-bottom: 55px;
    text-align: center;
  }

  .icon-block {
    @include media-breakpoint-up(md) { 
      width: 95px;
      height: 95px;
      background-image: url(../img/joker.png)
    }
    @include media-breakpoint-down(sm) { 
      width: 72px;
      height: 72px;
      background-image: url(../img/joker-sm.png)
    }
  }

  .desc {
    margin-top: 75px;
  }

  .screens {
    @include media-breakpoint-down(sm) { 
      margin-top: 40px;
    }  

    @include media-breakpoint-up(md) { 
      margin-top: 80px;
    }

    > div {
      padding-left: 22px;
      padding-right: 22px;
    }
  }

  .screen {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 3%;
    background-image: url(../img/4-tmun-qz-3-uq-0-copy.png);
    background-repeat: no-repeat;1
    background-size: contain;
    background-position-x: center;

    .mockup {
      position: absolute;
      top: 50%;
      left: 51%;
      transform: translateX(-50%) translateY(-50%);    

      @include media-breakpoint-down(lg) { 
        width: 112%;
        height: 115%;
      }

      @include media-breakpoint-down(md) { 
        width: 116%;
        height: 115%;
      }

      @include media-breakpoint-up(xl) { 
        width: 115%;
        height: 115%;
      }
    }
  }

}

footer {
  color: $white;

  ul.inner {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    @include media-breakpoint-down(md) { 
      padding-left: 30px;

      li {
        line-height: 34px;
        list-style: disc inside;
      }
    }   
  }

  .f-top {
    height: 153px;
    background-color: #353742;
  }

  .f-bottom {
    text-align: center;
    height: 135px;
    background-color: #242732;

    > div:first-child {
      line-height: 90px;
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 24px;
    }

    > div:last-child {
      font-size: 16px;
    }
  }
}